<!DOCTYPE html>
<html>
<head lang="en">
    <!--viewport 的标签，这个标签可以修改在大部分的移动设备上面的显示，为了确保适当的绘制和触屏缩放。-->
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrp</title>
    <!--将Bootstrap样式引用到网页中-->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>
</head>
<body>
    <!--水平居中-->
    <div class="container">
        <h1>Hello,world!</h1>
        <div class="row">
            <!--小块区域 网格-->
            <div class="col-xs-4">
                <!--文章头-->
                <h2 class="page-header">区域一</h2>
                <p>Bootstrap has a few easy ways to quickly get started, each one appealing to a different skill level and use case. Read through to see what suits your particular needs.</p>
            </div>
            <div class="col-xs-4">
                <h2 class="page-header">区域二</h2>
            <p>If you work with Bootstrap's uncompiled source code, you need to compile the LESS files to produce usable CSS files. For compiling LESS files into CSS, we only officially support Recess, which is Twitter's CSS hinter based on less.js.</p>
            </div>
            <div class="col-xs-4">
                <h2 class="page-header">区域三</h2>
                <p>Within the download you'll find the following directories and files, logically grouping common resources and providing both compiled and minified variations.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <h1 class="page-header">标题</h1>
        <h1>h1. Bootstrap heading</h1>
        <h2>h2. Bootstrap heading</h2>
        <h3>h3. Bootstrap heading</h3>
        <h4>h4. Bootstrap heading</h4>
        <h5>h5. Bootstrap heading</h5>
        <h6>h6. Bootstrap heading</h6>
    </div>
    <div class="container">
    <!--字体加粗 ,样式加下划线, 加粗strong, -->
    <p class="lead" style="border:1px solid"><strong>Within the download</strong> you'll find the following directories and files, logically grouping common resources and providing both compiled and minified variations.</p>
    </div>

    <div class="container">
        <!--左对齐，居中，右对齐-->
        <p class="text-left">Left aligned text.</p>
        <p class="text-center">Center aligned text.</p>
        <p class="text-right">Right
    </div>

    <div class="container">
        <!--字体变色-->
        <p class="text-muted">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        <p class="text-primary">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        <p class="text-success">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna..</p>
        <p class="text-warning">Maecenas sed diam eget risus varius blandit sit amet non magna..</p>
        <p class="text-danger">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>

    <div class="container">
        <abbr title="attribute">attr</abbr>
        <address>
            <strong>Twitter, Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>

        <address>
            <strong>Full Name</strong><br>
            <a href="mailto:#">first.last@example.com</a>
        </address>
        For example, <code>&lt;section&gt;</code> should be wrapped as inline.
    </div>

    <div class="container">
        <table class="table table-bordered">
        <!--灰色字体-->
        <caption>Table 基本案例</caption>
        <thead>
            <tr class="active">
              <th>First Name</th>
              <th>Last Name</th>
              <th>User Name</th>
            </tr>
        </thead>
            <tbody>
                <tr>
                  <td>aehyok</td>
                  <td>leo</td>
                  <td>@aehyok</td>
                </tr>
                <tr>
                  <td>lynn</td>
                  <td>thl</td>
                  <td>@lynn</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
    <form role="form">

            <!--label类型，点击后会聚焦到下面input类型上-->
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">

        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <!--上传文件-->
            <input type="file" id="exampleInputFile">
            <p class="help-block">Example block-level help text here.</p>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Check me out
            </label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    </div>


    <div class="container">
        <!--水平制表-->
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Sign in</button>
            </div>
        </div>
    </form>
    </div>

    <div class="container">
        <button type="button" class="btn btn-default">Default</button>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-link">链接</button>
    </div>

    <div class="container">
        <button type="button" class="close" aria-hidden="true">&times;</button>
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                Dropdown
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
            </ul>
        </div>
    </div>


    <div class="container">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Messages</a></li>
        </ul>
    </div>

    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <button type="button" class="btn btn-default navbar-btn">Sign in</button>
        </nav>

    </div>
    <!--引用jquery-->
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>