<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }} | Xmind2TestCase Preview</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static',filename='css/pure-min.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static',filename='css/custom.css') }}">
</head>
<body>
<div class="header">
    <h1>{{ name }} - 预览</h1>
    <h2><a href="{{ url_for("download_testlink_file",filename= name,mode=1) }}">下载XML文件</a>
        / <a href="{{ url_for("download_robot_file",filename= name,mode=1) }}">下载ROBOT文件</a>
        / <a href="{{ url_for("index") }}">返回首页</a></h2>
</div>
<table class="pure-table tests-table">
    <thead>
    <tr>
        <th width="5%">#</th>
        {% for level in range(maxLevel) %}
        {% if loop.first %}
            <th>项目名称</th>
        {% elif loop.last %}
            <th>预期结果</th>
        {% elif loop.index == loop.length -1 %}
            <th>测试步骤</th>
        {% elif loop.index == loop.length -2 %}
            <th>用例名称</th>
        {% else %}
            <th>节点</th>
        {% endif %}
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for node in nodes %}
        <tr>
            <td>{{ loop.index }}</td>
            {% for level in range(maxLevel) %}
                <td>{{ node[level] }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="footer">
    <a href="{{ url_for('static', filename='guide/index.html') }}" target="_blank">User Guide</a> |
    <a href="https://github.com/zhuifengshen/xmind2testcase/issues/new" target="_blank">Report Issue</a> |
    Powered by <a href="https://github.com/zhuifengshen/xmind2testcase" target="_blank">XMind2TestCase</a>
</div>
</body>
</html>